/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/assets/images/products/*
/public/assets/images/blogs/*
/public/assets/images/thumbnails/*
/public/assets/images/galleries/*
/public/assets/images/users/*
/public/assets/images/categories/*
/public/assets/images/services/*
/public/assets/images/attachments/*
/public/assets/images/vendorselfie/*
/public/assets/images/rideridfront/*
/public/assets/images/rideridback/*
/storage/app/public/uploads/*
!/public/assets/images/**/.gitkeep
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.zip
*.log
